<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="/feed.xsl" ?>
<?xml-stylesheet type="text/css" href="/main.css" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" >
    <channel>
        <title><%= posts.length ? posts[0].author + " @ Google+" : "Google+ User Feed" %></title>
        <description></description>
        <link><%= profileUrl %></link>
        <% posts.forEach(function(post) { %>
            <item>
                <title><%= post.title %></title>
                <link><%= post.url %></link>
                <content:encoded><%= post.content %></content:encoded>
                <guid><%= post.url %></guid>
                <pubDate><%= post.updated.format(Date.RFC1123)%></pubDate>
            </item>
        <% }) %>
    </channel>
</rss>
