<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
    <channel>
        <title>Google+ User Feed</title>
        <description></description>
        <link><%= profileUrl %></link>
        <% Object.each(posts, function(url, post) { %>
            <item>
                <title><%= post.title %></title>
                <description></description>
                <link><%= url %></link>
                <guid><%= url %></guid>
                <% /* Use format(Date.RFC1123), waiting for https://github.com/andrewplummer/Sugar/pull/26 acceptance */ %>
                <pubDate><%= post.lastModification.format('{Dow}, {dd} {Mon} {yyyy} {hh}:{mm}:{ss} {tz}')%></pubDate>
            </item>
        <% }) %>
    </channel>
</rss>
