<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/css" href="/styles/main.css"?>
<rss version="2.0">
    <channel>
        <title><%= posts.length ? posts[0].author + " @ Google+" : "Google+ User Feed" %></title>
        <description></description>
        <link><%= profileUrl %></link>
        <% posts.forEach(function(post) { %>
            <item>
                <title><%= post.title %></title>
                <guid><%= post.url %></guid>
                <% /* Use format(Date.RFC1123), waiting for https://github.com/andrewplummer/Sugar/pull/26 acceptance */ %>
                <pubDate><%= post.updated.format('{Dow}, {dd} {Mon} {yyyy} {hh}:{mm}:{ss} {tz}')%></pubDate>
            </item>
        <% }) %>
    </channel>
</rss>
